@model SimplePerson

@{ 
    ViewData["Title"] = "Example1";
}
<style>
    h1 {
        
    }
    
</style>
<form asp-controller="Example1" asp-action="ValidatePerson" method="post">
    <div>
        First name:<br>
        <input type="text" asp-for="FirstName"><br>
        <span asp-validation-for="FirstName" class="text-danger"></span><br />
    </div>
    Age:<br>
        <input type="text" asp-for="Age"></>
    <span asp-validation-for="Age" class="text-danger"></span><br/>
    <div asp-validation-summary="All" class="text-danger"></div>


    <button type="submit"> Submit</button>

</form>
